    <figure class="admin-logo-figure">
        <img class="admin-logo" src="/src/controller/login/team_webelistics_brackets.svg" alt="">
        <figcaption class="admin-caption">
            <div class="caption-div">
                <h1 id="h1Team" class="h1-team">Team</h1>
            </div>
            <div class="caption-div">            
                <h2 id="h2Webelistics" class="h2-webelistics">Webelistics<sup class="sup-reg">&#174;</sup></h2>
            </div>          
        </figcaption>
            <aside id="adminPanelDate" class="admin-panel-date">
                <span id="adminPanel-span" class="admin-panel-span">
                    {{formatDate createdAt 'MMMM Do YYYY, h:mm:ss: a' }}
                </span>
            </aside>
    </figure><br /><br /><br />


    <section id="tableSection" class="table-section">
        <h2 id="adminTableH2" class="admin-table-h2">Administration Panel</h2>

        <table id="adminTable" class="admin-table">
            <thead class="admin-thead">
                <tr>
                    <th class="admin-table-header">Registered</th>
                    <th class="admin-table-header">ID</th>
                    <th class="admin-table-header">Last Name</th>
                    <th class="admin-table-header">First Name</th>
                    <th class="admin-table-header">Email</th>
                </tr>
            </thead>
        <br>
            <tbody class="admin-tbody">
                {{#each users}}
                    <tr>
                        <td class="admin-table-data">{{createdAt}}</td>
                        <td class="admin-table-data">{{_id}}</td>
                        <td class="admin-table-data">{{lastName}}</td>
                        <td class="admin-table-data">{{firstName}}</td>
                        <td class="admin-table-data">{{email}}</td>   
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </section>

    <br /><br /><br />

    <foot id="adminFooter" class="admin-footer">
        <section id="footerSection" class="footer-section">
            <div class="admin-footer-div tw-div">
                <p class="admin-footer-p tw">Team Webelistics<sup class="sup-reg">&#174;</sup> 2023</p>
            </div>
                <br />
            <div class="admin-footer-div reserved-div">
                <p class="admin-footer-p reserved">All Rights Reserved</p>
            </div>
        </section>

        <button id="adminBtn" class="admin-btn">
            <a id="adminBtn-a" class="admin-btn-a" href="/landing">Landing</a>
        </button>
    </foot>