<h6 class="dashboard-h6">Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Post and Read your Blogs</p>
{{#if blogs}}
    <table class="highlight">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            {{#each blogs}}
                <tr>
                    <td><a href="/blogs/{{id}}">{{title}}</a>
                        <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss: a' }}</td>
                    </td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/blogs/edit/{{_id}}" class="btn btn-float">
                            <i class="fa-solid fa-edit"></i>
                        </a>

                        <form action="/blogs/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
    </table>

{{else}}
<p>You have not created any blogs?</p>
{{/if}}